.table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

.table__caption {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.table__row:hover {
    background-color: rgba(255, 255, 255, .5);
}

.table__cell {
    border: 1px solid black;
    text-align: center;
}

.table__cell--header {
    background-color: #fff4f4;
}

.table__link {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}